@font-face {
   font-family: 'Flying Bird';
   font-display: swap;
   src: url('file:///C:/Users/khssk/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-11_194656/fonts/Flying%20Bird/font.ttf');
}
